<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body><div>
    
    <div >
        <div class="nn">
        <h1 class="title">MTS Blogs</h1>
        
    <h3 >Essays</h3>
    
        <%  %>
        <% if (locals.blog1) { %>
            <% for (let i = 0; i < blog1.length; i++) { %>
                
                <a href="<%= blog1[i][1] %>"><%= blog1[i][0] %></a>
                <br>
            
              <% } %>
         
        <% } %>
    
    <h3>Wanna add some blog?!</h3>
    <form action="/submit" method="POST">
        <h4>Name</h4> 
      <input type="text" name="name" id="" placeholder="enter the name:">
      <h4>Para:</h4>  <textarea name="para" id="" rows="5" cols="20"></textarea>

      
      <input type="submit" value="OK" class="btn">
      <br>
    </form> </div>
</div>


    
    
</html>